:root{
    --bs-primary-rgb: 20, 20, 20;
    --bs-secondary-rgb: 229, 9, 20;
    /* --bs-nav-link-color: 255, 255, 255;
    --bs-navbar-active-color: 255, 255, 255; 
    --bs-dropdown-link-hover-bg: transparent;*/
}

body, header *{
    padding: 0;
    margin: 0;

}

body, header{
    color: white;
    max-width: 100%;
}

body{
    overflow-x: hidden;

}

#netflixLogo{
    height: 50px;
    width: auto;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
}

.contentStyle{
    border: 1px solid white;
    width: 50px;
}

.contentStyle svg{
    pointer-events: auto;
	cursor: pointer;
}

.subNav h1{
    margin-right: 1em;
    margin-left: 0.2em;
}

.csIconContainer{
    margin-right: 0.4em;
}

.csIconContainer svg{
    width: 16px;
    height: 16px;
    margin: 0.5em 0;
}

.cardContainer{
    white-space: nowrap;
}
@media (max-width: 680px) {
    .card {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .card {
        width: 47% !important;
    }
}

@media (min-width: 992px) {
    .card {
        width: 29% !important;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 23% !important;
    }
}

@media (min-width: 1400px) {
    .card {
        width: 16% !important;
    }
}

.card{
    border: none;
    background-color: rgb(20, 20, 20);
    padding: 0 0.15em;
    pointer-events: auto;
	cursor: pointer;
    z-index: 1;
    transition: scale 0.3s ease-in;
    display: inline-block;
    
}

.card:hover {
    scale: 1.25;
    z-index: 10;
}

.card img{
    width: 100%;
}

.buttonContainer{
    height: 80%;
    width: 100%;
    position: absolute;
}

.buttonContainer button{
    position: absolute;
    z-index: 100;
    height: 100%;
    top: 0;
    background-color: transparent;
    border: none;
    color: transparent;
}

.buttonContainer .nextSet{
    right: 0;
}

.buttonContainer .prevSet{
    left: 0;
}

section{
    margin-left: 0.8em;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: transform 1s ease-in 0.3s;
    position: relative;
}

.invisible{
    position: relative;
    transform: translatex(100%);
}

section *{
    overflow: visible !important;
}

section h3{
    margin-left: 0.3em;
    margin-bottom: 0.5em;
}

footer {
    padding: 0 20%;
    margin-top: 7em;
}

footer a{
    color: grey;
}

.socialIcons a{

    margin-right: 2em;
}

footer svg{
    scale: 1.5;
}

footer li a {
    text-decoration: none;
}

footer button{
    max-width: fit-content;
    background-color: rgb(20, 20, 20);
    color: grey;
    border: 1px solid grey;
    margin-bottom: 1em;
}

footer p{
    color: grey;
}

